body,html{
    margin-top: 30px;
    background-image: url('dog.gif');
    background-size: 100% 100%;
    height: 100%;
   /* font-size: 25px;
   /* margin-bottom: 150px;*/
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    overflow: hidden;
}